/*.time-numbers > *, .time-entry > * {
	display: inline-block;
}

.timepicker {
	margin-right: 15px;
}

@media (min-width: 546px) {
	.time-entry-comment {
		position: relative;
		top: 60px;
	}
}
*/
.fa {
	color: grey;
}

.container>div>div {
	margin: 10px;
	background-color: lightblue;
	border-radius: 5px;
	padding: 5px;

}